* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
nav{
background-color: #000000;
padding: 15px 0;
width: 100%;

}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}
nav a{
    color: #fefeff;
    font-family: Arial;
    font-weight: bold;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #fefeff; 
    color: #000000;

}
.personal img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fefeff;

}
.contenedor-equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
    padding: 40px;
}

.personal{
    width: 90%;
    max-width: 600px;
    background-color: #346C2B;
    border: 1px solid #50A144;
    border-radius: 15px;
    padding: 20px;
}
.tituloPagina{
background-color: #253031;
width: 100%;
padding: 60px;
text-align: center;

margin-bottom: 50px;
}
.tituloPagina h1{
    color: #fefeff;
    margin: 0;
    font-size: 35px;
    letter-spacing: 2px;
}
.puesto{
    color: #fefeff;
    font-weight: bold;
    font-size: 1.5em; 
}
.leyenda{
font-style: italic;
color: #fefeff;
font-size: 1em;
}
footer{
    text-align: center;
    background-color: #000000;
    color: #fefeff;
}
.contacto {
    color: #fefeff;
}
.personal h3{
    color: #fefeff;
}