body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #346C2B;
    text-align: center;
    color: white;
    
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    
}



.limpieza {
    display: inline-block;
    background-color: #50A144;
    font-weight:bold;
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.armado {
    display: inline-block;
    background-color: #50A144;
    font-weight:bold;
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.instalacion {
    display: inline-block;
    background-color: #50A144;
    font-weight:bold;
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.diagnostico{
    display: inline-block;
    background-color: #50A144;
    font-weight:bold;
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.precio {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight:bold;
    font-size: 22px;
    color: #000000;

}