/* ROOT para definir los colores y variables */ 
:root {
    --black: #000000;
    --fern: #346c2b;
    --white: #fefeff;
    --medium-jungle: #50a144;
    --ash-brown: #6d5b4d;
}
/* ARCHIVO FAQ.HTML */
/* RESET (para borrar los espacios automaticos y que quede mas prolijo)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
}
/* HEADER */
header {
    background-color: var(--fern);
    color: var(--white);
    padding: 20px;
    text-align: center;
}
/* NAV */
nav {
    background-color: var(--medium-jungle);
    padding: 10px;
    text-align: center;
}
/* links dentro del nav */
nav a {
    color: var(--white);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold; /* negrita */
}
/* efecto para cuando pasamos el mouse */
nav a:hover {
    text-decoration: underline; /* para que aparezca subrayado */
}
